<section>
    <div class="flex flex-row mx-20 p-10 my-14 justify-start items-center tracking-wide">
        <div class="mr-20">
            <h2 class="font-stara font-bold text-7xl text-white tracking-wide">
                QUEM<br>SOMOS?
            </h2>
        </div>

        <div class=" flex text-white justify-center tracking-wide text-xl flex-col max-w-[38rem] text-justify gap-5">
            <div>
                <p>Acreditamos que marcas fortes são criadas por pessoas intencionais - por isso, o que a gente faz
                    é cuidar da forma como a sua marca se apresenta, se posiciona e se movimenta no mercado.</p>
            </div>
            <div>
                <p>Nosso foco é construir e movimentar marcas com visão de longo prazo: alinhando branding,
                    comunicação e presença digital de um jeito inteligente, criativo e pé no chão. Operamos com uma
                    dinâmica leve e colaborativa, o que nos dá espaço pra pensar melhor, criar melhor e entregar
                    projetos que realmente fazem a diferença no negócio dos nossos clientes.</p>
            </div>
            <div>
                <p>Você é o que sua marca diz que é.</p>
            </div>
        </div>
    </div>

    <img src="/src/assets/image/logo/ICONE CANTO DIREITO.png" alt="Icone KONT"
        class="absolute right-0 bottom-0 h-[72rem] object-contain translate-y-[20rem] pointer-events-none">

</section>