<header>
    <div class="bg-white p-5 mx-20 my-8 flex justify-between rounded-full">
        <a href="#hero" class="flex items-center">
            <img src="/src/assets/image/logo/KONT PRETO.png" alt="Logo preta KONT" class="h-6 w-auto pl-5" />
        </a>
        <nav>
            <ul class="flex-row flex gap-20 pr-5 text-xl font-stara font-semibold">
                <li>
                    <a href="#about">Quem somos</a>

                </li>
                <li>
                    <a href="#services">
                        Serviços
                    </a>
                </li>
                <!-- <li>
                        <a>A
                            Blog
                        </a>
                    </li> -->
                <li>
                    <a href="#contact">Contato</a>

                </li>
            </ul>
        </nav>

    </div>
</header>