<!DOCTYPE html>
<html lang="pt-BR" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/fonts.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header>
        <div class="bg-white p-5 mx-20 my-8 flex justify-between rounded-full">
            <a href="#hero" class="flex items-center">
                <img src="/src/assets/image/logo/KONT PRETO.png" alt="Logo preta KONT" class="h-6 w-auto pl-5" />
            </a>
            <nav>
                <ul class="flex-row flex gap-20 pr-5 text-xl font-stara font-semibold">
                    <li>
                        <a>
                            Quem somos
                        </a>
                    </li>
                    <li>
                        <a>
                            Serviços
                        </a>
                    </li>
                    <li>
                        <a>
                            Blog
                        </a>
                    </li>
                    <li>
                        <a>
                            Contato
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </header>

</body>

</html>