<section class="overflow-hidden">
    <div class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 mx-6 md:ml-[8rem] md:mr-[12rem] mt-[5rem] gap-y-16 md:gap-y-0 text-xl" style="color: #F1F1F1;">
        
        <div class="reveal group relative flex flex-col items-center cursor-pointer pb-5 md:pb-[5rem]">
            <img src="/src/assets/image/icones/servicos/Ativo 1.png" class="w-[5rem] h-[5rem] transition-opacity duration-300 group-hover:opacity-0 md:group-active:opacity-0" />

            <p class="pt-8 text-center text-xl text-[#F1F1F1] group-hover:opacity-0 transition-opacity duration-300">
                Branding
            </p>

            <div class="absolute top-0 flex items-center justify-center
                w-full md:w-[14rem] h-full md:h-[10rem]
                bg-black/90 md:bg-black/90
                opacity-0
                transition-opacity duration-300
                group-hover:opacity-100 group-active:opacity-100">

                <p class="text-lg text-center leading-snug max-w-[14rem] px-2 text-[#F1F1F1]">
                    Naming, marca, DNA de marca, manifesto, posicionamento, gráficos, frota, embalagens.
                </p>
            </div>
        </div>

        <div class="reveal group relative flex flex-col items-center cursor-pointer pb-5 md:pb-[5rem]">
            <img src="/src/assets/image/icones/servicos/Ativo 2.png" alt="Imagem" class="w-[3.5rem] h-[5rem] transition-opacity duration-300 group-hover:opacity-0" />
            <p class="pt-5 text-center text-xl text-[#F1F1F1] group-hover:opacity-0 transition-opacity duration-300">
                Propaganda e<br>ações publicitárias</p>

            <div class="absolute top-0 flex items-center justify-center
                w-full md:w-[18rem] h-full md:h-[11rem]
                bg-black/90
                opacity-0
                transition-opacity duration-300
                group-hover:opacity-100">
                <p class="text-lg text-center leading-snug max-w-[16rem] px-2 text-[#F1F1F1]">
                    Campanhas publicitárias, marketing direto, impressos, merchandising, campanhas de incentivo e planejamento.
                </p>
            </div>
        </div>

        <div class="reveal group relative flex flex-col items-center cursor-pointer pb-5 md:pb-[5rem]">
            <img src="/src/assets/image/icones/servicos/Ativo 3.png" alt="Imagem" class="w-[5rem] h-[4.5rem] transition-opacity duration-300 group-hover:opacity-0" />
            <p class="pt-8 text-center text-xl text-[#F1F1F1] group-hover:opacity-0 transition-opacity duration-300">
                Planejamento</p>
            <div class="absolute top-0 flex items-center justify-center
                w-full md:w-[18rem] h-full md:h-[11rem]
                bg-black/90
                opacity-0
                transition-opacity duration-300
                group-hover:opacity-100">
                <p class="text-lg text-center leading-snug max-w-[15rem] px-2 text-[#F1F1F1]">
                    Estratégia, comunicação integrada, mensuração.
                </p>
            </div>
        </div>

        <div class="reveal delay-200 group relative flex flex-col items-center cursor-pointer pb-5 md:pb-0">
            <img src="/src/assets/image/icones/servicos/Ativo 4.png" alt="Imagem" class="w-[5rem] h-[5rem] transition-opacity duration-300 group-hover:opacity-0" />
            <p class="pt-5 text-center text-xl text-[#F1F1F1] group-hover:opacity-0 transition-opacity duration-300">
                Marketing</p>
            <div class="absolute top-0 flex items-center justify-center
                w-full md:w-[18rem] h-full md:h-[11rem]
                bg-black/90
                opacity-0
                transition-opacity duration-300
                group-hover:opacity-100">
                <p class="text-lg text-center leading-snug max-w-[14rem] px-2 text-[#F1F1F1]">
                    Inbound de marketing, geração de conteúdos, tráfego pago, SEO.
                </p>
            </div>
        </div>

        <div class="reveal delay-200 group relative flex flex-col items-center cursor-pointer pb-5 md:pb-0">
            <img src="/src/assets/image/icones/servicos/Ativo 5.png" alt="Imagem" class="w-[5rem] h-[4.5rem] transition-opacity duration-300 group-hover:opacity-0" />
            <p class="pt-5 text-center text-xl text-[#F1F1F1] group-hover:opacity-0 transition-opacity duration-300">
                Gestão de<br>redes sociais</p>
            <div class="absolute top-0 flex items-center justify-center
                w-full md:w-[17rem] h-full md:h-[11rem]
                bg-black/90
                opacity-0
                transition-opacity duration-300
                group-hover:opacity-100">
                <p class="text-lg text-center leading-snug max-w-[16rem] px-2 text-[#F1F1F1]">
                    Social planner, instagram, facebook, linkedin, pinterest, tiktok, produção de videos.
                </p>
            </div>
        </div>

        <div class="reveal delay-200 group relative flex flex-col items-center cursor-pointer">
            <img src="/src/assets/image/icones/servicos/Ativo 6.png" alt="Imagem" class="w-[3.5rem] h-[4rem] transition-opacity duration-300 group-hover:opacity-0" />
            <p class="pt-9 text-center text-xl text-[#F1F1F1] group-hover:opacity-0 transition-opacity duration-300">
                Eventos</p>
            <div class="absolute top-0 flex items-center justify-center
                w-full md:w-[17rem] h-full md:h-[11rem]
                bg-black/90
                opacity-0
                transition-opacity duration-300
                group-hover:opacity-100">
                <p class="text-lg text-center leading-snug max-w-[16rem] px-2 text-[#F1F1F1]">
                    Lançamentos e inaugurações, convenções, dinâmicas em grupos, seminários, feiras.
                </p>
            </div>
        </div>
    </div>
</section>