<section class="relative overflow-hidden">
    <div>
        <div class="relative z-10 mt-[12rem] mx-20 p-10 flex flex-row items-center " style="color: #F1F1F1;">

            <div class="reveal text-2xl -mt-[10rem] items-end">
                <p class="font-stara">Solange Oppermann</p>
                <div class="w-[16rem] h-[2px] bg-white my-2"></div>
                <p class="font-light">CEO</p>
            </div>
            <div>
                <img src="/src/assets/image/foto/Sol.jpeg" alt="Imagem CEO"
                    class="reveal delay-200 rounded-tl-[4rem] rounded-br-[4rem]  w-[22rem] h-[30rem] object-cover object-[0%_30%]" />
            </div>
            <div class=" text-lg max-w-[25rem] text-justify p-1 px-1" style="background-color: #606060;">
                <p class="reveal delay-200 p-5 leading-snug">Designer desde 2019, com formação em publicidade, atuo unindo visão
                    estratégica e criatividade para desenvolver soluções visuais claras, consistentes e orientadas a
                    resultado. Sou fundadora da Kont, um movimento que nasce da necessidade de transicionar o design
                    de uma atuação apenas estética para uma ferramenta estratégica de marca.</p>
            </div>
        </div>

        <img src="/src/assets/image/logo/KONT TRAÇADO.png" alt="Icone KONT" class="relative z-0 mx-auto
              -mt-24 -mb-24
              h-[22rem]
              object-contain
              pointer-events-none" />

        <div class="relative z-10 mx-20 p-10 flex flex-row items-center" style="color: #F1F1F1;">
            <div class="reveal text-2xl -mt-[10rem] items-end">
                <p class="font-stara">Sofia Monteiro</p>
                <div class="w-[16rem] h-[2px] bg-white my-2"></div>
                <p class="font-light">Gestora comercial</p>
            </div>
            <div>
                <img src="/src/assets/image/foto/Sofi (2).jpeg" alt="Imagem CEO"
                    class="reveal delay-200 rounded-tl-[4rem] rounded-br-[4rem]  w-[22rem] h-[30rem] object-cover object-[0%_30%]" />
            </div>
            <div class=" text-lg max-w-[25rem] text-justify px-1" style="background-color: #606060;">
                <p class="reveal delay-200 p-5 leading-snug">Atuo com visão estratégica e foco em resultados, liderando o
                    desenvolvimento comercial e relacionamento com os clientes. Contribuo para o crescimento
                    da marca ao transformar oportunidades em parcerias sólidas e soluções alinhadas aos objetivos do
                    negócio.
                </p>
            </div>
        </div>
    </div>
</section>